@charset "UTF-8";
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --body-color: #F6F6F6;
  --first-color: #9356DC;
  --grey-1: #353535;
  --grey-2: #F6F6F6;
  --grey-3: #EAEAEA;
  --white-color: #FFF;
  --black-color: #000;
  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
  --first-font: "Shrikhand", sans-serif;
  --h1-font-size: 24px;
  --h2-font-size: 18px;
  --h3-font-size: 16px;
  --normal-font-size: 15.043px;
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-light-medium: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes Bottom ==========*/
  --mb-1-5: 20px;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--black-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.d-n {
  display: none;
}

/*=============== CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--grey-3);
  /*=============== NAV ===============*/
  /*=============== LOCATION ===============*/
}
.header .nav {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: var(--z-fixed);
}
.header .location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.header .location .fa-solid, .header .location .fas {
  font-weight: 900;
}
.header .location p {
  font-size: var(--h3-font-size);
  color: var(--grey-1);
  font-weight: var(--font-medium);
}

/*=============== HOME ===============*/
.home {
  padding: 30px 0px;
}
.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 20px;
}
.home__description {
  font-size: var(--h2-font-size);
  font-weight: var(--font-light);
  text-align: center;
  margin-bottom: 35px;
}
.home__button {
  text-align: center;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  color: #FFF;
  font-size: var(--h3-font-size);
  padding: 13px 18.75px;
  border-radius: 25px;
  font-weight: var(--font-medium);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
}
.button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 10px #FFF;
}

/*=============== ABOUT ===============*/
.fonctionnement {
  background-color: var(--white-color);
}
.fonctionnement__container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.fonctionnement__title {
  font-weight: --font-bold;
  margin-bottom: 25px;
}
.fonctionnement__filter {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.fonctionnement__filter-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  height: 72.379px;
  border-radius: 20px;
  background: var(--grey-2);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.fonctionnement__filter-content:before {
  position: absolute;
  height: 24px;
  width: 24px;
  color: white;
  font-weight: var(--font-medium);
  background-color: var(--first-color);
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14.18px;
  border-radius: 50px;
}
.fonctionnement__filter-content h3 {
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
}
.fonctionnement__filter-content i {
  color: rgb(126, 126, 126);
}

.fonctionnement__filter-content:hover i {
  color: var(--first-color);
  cursor: pointer;
}

.fonctionnement__filter-content:nth-child(1)::before {
  content: "1";
}

.fonctionnement__filter-content:nth-child(2)::before {
  content: "2";
}

.fonctionnement__filter-content:nth-child(3)::before {
  content: "3";
}

/*=============== RESTAURANT ===============*/
.restaurant {
  padding: 30px 0px;
}
.restaurant__container {
  gap: 20px;
}
.restaurant__title {
  font-weight: --font-bold;
  margin-bottom: 28px;
}
.restaurant__card {
  border-radius: 15px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurant__card img {
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__card-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}
.restaurant__card-title {
  font-size: var(--h2-font-size);
  margin-bottom: 10px;
}
.restaurant__card-description {
  font-size: 17px;
  color: var(--black-color);
  font-weight: var(--font-light);
}
.restaurant__image {
  position: relative;
}
.restaurant__image span {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 9px;
  border-radius: 2px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-size: 14px;
  font-weight: var(--font-medium);
}

body {
  background-color: var(--white-color);
}

.nav__back {
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
}

.home-restaurant {
  width: 100%;
  min-height: 50vh;
  position: relative;
  z-index: 1;
}

.Le-délice-des-sens {
  background: url(../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center;
  background-size: cover;
}

.La-palette-du-goût {
  background: url(../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center;
  background-size: cover;
}

.La-note-enchantée {
  background: url(../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center;
  background-size: cover;
}

.À-la-française {
  background: url(../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center;
  background-size: cover;
}

/* +++++ MENU +++++ */
.restaurant__dataa {
  position: relative;
  z-index: 100;
  background-color: var(--grey-2);
  margin-top: -20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.restaurant__data-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 17px;
  gap: 30px;
}

.restaurant__data-header h1 {
  color: #101010;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: var(--font-light-medium);
}

.restaurant__card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  border-radius: 15.04px;
  background-color: var(--white-color);
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}

.restaurant__card-content-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.restaurant__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
}

.restaurant__menu h2 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-light);
  text-transform: uppercase;
}

.border {
  border-bottom: 3px solid #99E2D0;
  margin-top: -5px;
  width: 40px;
}

.restaurant__card-content-header h3 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}

.restaurant__card-content-header p {
  font-size: 15.043px;
  font-weight: var(--font-light);
}

.restaurant__card-content span {
  color: #353535;
  font-size: 15.043px;
  font-weight: var(--font-bold);
}

.container__menu {
  max-width: 634px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.restaurant__cta {
  padding-bottom: 40px;
}

@media screen and (min-width: 704px) {
  .container__menu {
    margin-left: auto;
    margin-right: auto;
  }
}
.container__bg {
  max-width: 968px;
}

@media screen and (min-width: 704px) {
  .container__bg {
    margin-left: auto;
    margin-right: auto;
  }
}
.fa-heart {
  font-size: 28px;
}

.fas.fa-heart {
  color: transparent;
  background-image: linear-gradient(355deg, rgb(147, 86, 220) -20%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 0.3s;
}

.fas.fa-heart:hover {
  opacity: 100;
  transform: scale(1);
}

.far.fa-heart {
  position: relative;
  left: 32px;
  color: black;
}

input[type=checkbox] {
  height: 15px;
  width: 15px;
  background-color: white;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

input[type=checkbox]:before {
  position: absolute;
  content: "";
  background-color: white;
  height: 152%;
  width: 100%;
  top: -59%;
  right: -1px;
  border-radius: 75px 75px 0 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

input[type=checkbox]:after {
  position: absolute;
  content: "";
  background-color: white;
  height: 58%;
  width: 100%;
  top: 21%;
  right: 75%;
  top: 19%;
  right: 75%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

input[type=checkbox]:checked,
input:checked[type=checkbox]:before,
input:checked[type=checkbox]:after {
  background: #9356DC;
}

.ul-cards {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.ul-cards .li-cards {
  width: 95%;
  background: #fff;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15.04px;
  margin-bottom: 12px;
  display: flex;
  cursor: pointer;
  animation: fade-up ease-in-out;
}

.li-cards:hover .carte-valide {
  transition: 0.3s;
  display: flex;
}

.carte-choice {
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
}

.carte-choice h4 {
  width: 100%;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carte-desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15.043px;
  font-weight: var(--font-light);
}

.carte-desc p {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15.043px;
  font-weight: var(--font-light);
  text-overflow: ellipsis;
}

.choice-price {
  width: 10%;
  color: #353535;
  font-size: 15.043px;
  font-weight: var(--font-bold);
}

.carte-valide {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  border-radius: 0 15.04px 15.04px 0;
  display: none;
  transition-duration: 0.5s;
  animation: slideLeft 0.5s;
}

.carte-valide .fas-circle {
  font-size: 1.5em;
  color: #FFF;
}

@keyframes slideLeft {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.delay-1 {
  animation-duration: 0.5s !important;
}

.delay-2 {
  animation-duration: 1s !important;
}

.delay-3 {
  animation-duration: 1.5s !important;
}

.delay-4 {
  animation-duration: 2s !important;
}

.delay-5 {
  animation-duration: 2.5s !important;
}

.delay-6 {
  animation-duration: 3s !important;
}

.delay-7 {
  animation-duration: 3.5s !important;
}

.delay-8 {
  animation-duration: 4s !important;
}

.delay-9 {
  animation-duration: 4.5s !important;
}

.delay-10 {
  animation-duration: 5s !important;
}

.loader {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  animation: disparition 0.1s 1.8s forwards;
}

.point {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 20px;
  animation: loader infinite 0.3s alternate;
}

.p1 {
  background-color: #9356DC;
}

.p2 {
  background-color: #FF79DA;
  animation-delay: 0.05s;
}

.p3 {
  background-color: #99E2D0;
  animation-delay: 0.1s;
}

@keyframes disparition {
  100% {
    opacity: 0%;
    pointer-events: none;
  }
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
/*=============== FOOTER ===============*/
.footer {
  background-color: var(--grey-1);
  padding: 22px 25px;
}
.footer__container {
  row-gap: 16px;
}
.footer__logo {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-family: var(--first-font);
}
.footer__title {
  display: flex;
  gap: 10px;
  font-size: var(--h3-font-size);
  color: var(--white-color);
  margin-bottom: 7px;
}
.footer__data {
  display: grid;
  row-gap: 7px;
}
.footer__information {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  font-weight: var(-font-light-medium);
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .restaurant__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .home__container {
    align-items: center;
  }
}
/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .fonctionnement__filter {
    flex-direction: row;
  }
  .restaurant__container {
    gap: 50px 100px;
  }
  .footer {
    background-color: var(--grey-1);
    padding: 30px 25px;
    height: 84px;
  }
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
  }
  .footer__content, .footer__data {
    display: flex;
    gap: 7px;
  }
  .footer__title {
    width: 190px;
  }
  .footer__information {
    width: 130px;
  }
}/*# sourceMappingURL=styles.css.map */