@charset "UTF-8";
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --body-color: #F6F6F6;
  --first-color: #9356DC;
  --grey-1: #353535;
  --grey-2: #F6F6F6;
  --grey-3: #EAEAEA;
  --white-color: #FFF;
  --black-color: #000;
  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --first-font: 'Shrikhand', sans-serif;
  --h1-font-size: 24px;
  --h2-font-size: 18px;
  --h3-font-size: 16px;
  --normal-font-size: 15.043px;
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-light-medium: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes Bottom ==========*/
  --mb-1-5: 20px;
}

/*=============== BASE ===============*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--black-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: -ms-grid;
  display: grid;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--grey-3);
  /*=============== NAV ===============*/
  /*=============== LOCATION ===============*/
}

.header .nav {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: var(--z-fixed);
}

.header .location {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.header .location .fa-solid, .header .location .fas {
  font-weight: 900;
}

.header .location p {
  font-size: var(--h3-font-size);
  color: var(--grey-1);
  font-weight: var(--font-medium);
}

/*=============== HOME ===============*/
.home {
  padding: 30px 0px;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 20px;
}

.home__description {
  font-size: var(--h2-font-size);
  font-weight: var(--font-light);
  text-align: center;
  margin-bottom: 35px;
}

.home__button {
  text-align: center;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  color: #FFF;
  font-size: var(--h3-font-size);
  padding: 13px 18.75px;
  border-radius: 25px;
  font-weight: var(--font-medium);
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
}

.button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 10px #FFF;
          box-shadow: 5px 5px 10px #FFF;
}

/*=============== ABOUT ===============*/
.fonctionnement {
  background-color: var(--white-color);
}

.fonctionnement__container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fonctionnement__title {
  font-weight: --font-bold;
  margin-bottom: 25px;
}

.fonctionnement__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.fonctionnement__filter-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  width: 322.486px;
  height: 72.379px;
  border-radius: 20px;
  background: var(--grey-2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.fonctionnement__filter-content:before {
  position: absolute;
  height: 24px;
  width: 24px;
  color: white;
  font-weight: var(--font-medium);
  background-color: var(--first-color);
  left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14.18px;
  border-radius: 50px;
}

.fonctionnement__filter-content h3 {
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
}

.fonctionnement__filter-content i {
  color: #7e7e7e;
}

.fonctionnement__filter-content i.fa-store {
  color: var(--first-color);
}

.fonctionnement__filter-content:nth-child(1)::before {
  content: "1";
}

.fonctionnement__filter-content:nth-child(2)::before {
  content: "2";
}

.fonctionnement__filter-content:nth-child(3)::before {
  content: "3";
}

/*=============== RESTAURANT ===============*/
.restaurant {
  padding: 30px 0px;
}

.restaurant__container {
  gap: 20px;
}

.restaurant__title {
  font-weight: --font-bold;
  margin-bottom: 28px;
}

.restaurant__card {
  border-radius: 15px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.restaurant__card img {
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 300px;
  width: 100%;
}

.restaurant__card-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px;
}

.restaurant__card-title {
  font-size: var(--h2-font-size);
  margin-bottom: 10px;
}

.restaurant__card-description {
  font-size: 17px;
  color: var(--black-color);
  font-weight: var(--font-light);
}

.restaurant__image {
  position: relative;
}

.restaurant__image span {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 9px;
  border-radius: 2px;
  background: #99E2D0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-size: 14px;
  font-weight: var(--font-medium);
}

body {
  background-color: var(--white-color);
}

.nav__back {
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
}

.home-restaurant {
  width: 100%;
  min-height: 50vh;
  position: relative;
  z-index: 1;
}

.Le-délice-des-sens {
  background: url(../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center;
  background-size: cover;
}

.La-palette-du-goût {
  background: url(../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center;
  background-size: cover;
}

.La-note-enchantée {
  background: url(../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center;
  background-size: cover;
}

.À-la-française {
  background: url(../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center;
  background-size: cover;
}

/* +++++ MENU +++++ */
.restaurant__dataa {
  position: relative;
  z-index: 100;
  background-color: var(--grey-2);
  margin-top: -20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.restaurant__data-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 32px 17px;
  gap: 30px;
}

.restaurant__data-header h1 {
  color: #101010;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: var(--font-light-medium);
}

.restaurant__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px;
  border-radius: 15.04px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}

.restaurant__card-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.restaurant__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
}

.restaurant__menu h2 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-light);
  text-transform: uppercase;
}

.border {
  border-bottom: 3px solid #99E2D0;
  margin-top: -5px;
  width: 40px;
}

.restaurant__card-content-header h3 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}

.restaurant__card-content-header p {
  font-size: 15.043px;
  font-weight: var(--font-light);
}

.restaurant__card-content span {
  color: #353535;
  font-size: 15.043px;
  font-weight: var(--font-bold);
}

.container__menu {
  max-width: 634px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.restaurant__cta {
  padding-bottom: 40px;
}

@media screen and (min-width: 704px) {
  .container__menu {
    margin-left: auto;
    margin-right: auto;
  }
}

.container__bg {
  max-width: 968px;
}

@media screen and (min-width: 704px) {
  .container__bg {
    margin-left: auto;
    margin-right: auto;
  }
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--grey-1);
  padding: 22px 25px;
}

.footer__container {
  row-gap: 16px;
}

.footer__logo {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-family: var(--first-font);
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: var(--h3-font-size);
  color: var(--white-color);
  margin-bottom: 7px;
}

.footer__data {
  display: -ms-grid;
  display: grid;
  row-gap: 7px;
}

.footer__information {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  font-weight: var(-font-light-medium);
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .restaurant__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .home__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .fonctionnement__filter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .restaurant__container {
    gap: 50px 100px;
  }
  .footer {
    background-color: var(--grey-1);
    padding: 30px 25px;
    height: 84px;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
  }
  .footer__content, .footer__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7px;
  }
  .footer__title {
    width: 190px;
  }
  .footer__information {
    width: 130px;
  }
}
/*# sourceMappingURL=styles.css.map */