/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    --body-color: #F6F6F6;
    --first-color: #9356DC;
    --grey-1: #353535;
    --grey-2: #F6F6F6;
    --grey-3: #EAEAEA;
    --white-color: #FFF;
    --black-color: #000;

    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --first-font: 'Shrikhand', sans-serif;

    --h1-font-size: 24px;
    --h2-font-size: 18px;
    --h3-font-size: 16px;
    --normal-font-size: 15.043px;

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-light-medium: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margenes Bottom ==========*/
    --mb-1-5: 20px;

}